extends layout

block content
  h1= time
  h1 LennixM's TimestampMicroservice
  p.blue Example Usage
  code localhost:3000/August 14, 2016
  br
  code localhost:3000/123489755
  p.blue Output is a JSON object:
  code {"unix": 123489755, "natural": August 14, 2016}
